body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}


a {
  text-decoration: none;
}


.main-navigation {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  background-color: #81b3d2;
}

.site-navigation a:focus {
  background-color: #b2b2b2;
}

.site-navigation a:active {
  background-color: #766357;
}

.slogan h2 {
	font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}


.features-text {
  list-style: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.feature-item h2 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: 700;
}

.feature-item {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
}

.feature-item-blue {
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;

  background-color: #81b3d2;
  background-image: url("../img/feature-item-bg-blue.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}


.feature-item-blue h2 {
  list-style: none;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}


.feature-item-advantage h3 {
  list-style: none;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.feature-item-advantage {
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}



.feature-item-gray {
  
  color: #000000; 

  background-color: #eeeeee;
  background-image: url("../img/feature-item-bg-gray.jpg");
  background-position: 0 0;

  background-repeat: repeat;
}

.feature-item-gray h2 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
    color: #000000
}

.feature-item-gray p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
    color: #333333
}


.booking h2 {
  
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.booking-info {
  
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.booking-form-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357; 
}

  

.booking-form-title:hover {
  
  background-color: #604e43; 
}

.booking-form-title:active {
 
  color: rgba(255, 255, 255, 0.302);
  background-color: #503e33; 
  
}



.booking-item {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.booking-item input {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  
  background-color: #f2f2f2;
  border: none;
}

.booking-item input:hover {
  
  background-color: #ebebeb;
  border: none;
 
}

.booking-item input:focus {

  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  border: none;
}

.adults {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.adults input {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  border: none;
  background-color: #f2f2f2;
}

.children {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.children input {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  border: none;
  background-color: #f2f2f2;

}




.booking-form-minus 
{
  display: inline-block;
  font-size: 26px;
  line-height: 26px;
  color: #a9a9a9;
  border: none;
}

.booking-form-minus:hover
{
  font-size: 26px;
  line-height: 26px;
  color: #000000;
  border: none;
}

.booking-form-minus:active
{
  font-size: 26px;
  line-height: 26px;
  color: #81b3d2;
  border: none;
}

.booking-form-plus {
  font-size: 26px;
  line-height: 26px;
  color: #a9a9a9;
  border: none;
}
.booking-form-plus:hover 
{
  font-size: 26px;
  line-height: 26px;
  color: #000000;
  border: none;
}

.booking-form-plus:active
{
  font-size: 26px;
  line-height: 26px;
  color: #81b3d2;
  border: none;
}



.button {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  background-color: #81b3d2;
  color: #ffffff;
}

.button:hover {
  background-color: #669ec0;
}

.button:active {
  opacity: 0.3;
  background-color: #5496bd;
}

.main-footer  {
  color: #000000;

  background-color: #fdfdfd;
}

.footer-hashtag a{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  color:#000000;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
  justify-content: space-between;
}

.footer-social a {
  color: #ffffff;
  background-color: #81b3d2;
}

.footer-social a:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.footer-social a:active {
  color: #ffffff;
  background-color: #5496bd;
}

.footer-copyright .button {
  color: #9f9d9d;

  background-color: #ffffff;
}

.footer-copyright .button:hover {
  color: #81b3d2;

  background-color: #ffffff;
}

.footer-copyright .button:active {
  color: #81b3d2;

  background-color: #bdbbbc;
}


/* hotels.html */
.inner-page {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
.site-navigation-current {
	color: #766357;
	background-color: #ffffff;
}

.filter-option {
	list-style: none;

}

.filter fieldset {
	border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #000000; 
}

.filter ul {
  list-style: none;
  line-height: 21px;
}

.filter-input + label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  background-color: #000000; 
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #ffffff;
  background-color: #000000; 
}

.filter-input:disabled + label {
  color: #6a6a6a;
  background-color: #000000; 
}

 Не реботает! Почему?

.show-result  {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  background-color: transparent; 
}

.show-result button:hover {
	color: #000000;
	background-color: #ffffff;
}



.sorting h2 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  font-weight: 700;
}

.sorting p {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  font-weight: 400;
}

.sorting-price,
.sorting-type,
.sorting-rating {
  font-size: 12px;
  line-height: 18px;
}

.sorting-list {
	list-style: none;
}

.sorting-active {
	color: #81b3d2;
	background-color: #ffffff;
}

.sorting-disabled {
	color: #cacaca;
	background-color: #fefefe;
}


.sorting-switch-up a,
.sorting-switch-down a {
	color: #cacaca;
	background-color: #000000;
	text-decoration: underline;
}

.sorting-switch-up a:hover,
.sorting-switch-down a:hover {
	color: #231f20;
	background-color: #ffffff;
}

.sorting-switch-up a:active,
.sorting-switch-down a:active {
	color: #81b3d2;
	background-color: #ffffff;
}

.catalog-item-title {
	font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight:700;
}

.catalog-item-title:hover {
	color: #81b3d2;
}

.catalog-item-title:active {
	color: rgba(0, 0, 0, 0.302);
}


.catalog-item-category {
	font-size: 14px;
    line-height: 21px;
    color: #333333;
    font-weight: 400;
}

.button-details {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2; 
}


.button-details:hover {
	background-color: #669ec0;
}

.button-details:active {
	color: rgba(255, 255, 255, 0.302);
	background-color: #5496bd;
}

.button-booking {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357; 
}

.button-booking:hover {
  background-color: #604e43;
}

.button-booking:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #503e33;
}

.catalog-list {
  list-style: none;
}

.rating {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;
  background-color: #f2f2f2;
}

/* ----- Сеточные стили index.html----- */


html,
body {
  min-width: 1200px;

}

.main-header {

 margin: 0;
 padding: 0;

}

.main-navigation {
 width: 1px;
 display: flex;
 margin: 0 auto;
 padding: 0;
 justify-content: center; 
}

.main-header-logo {

 width: 138px;
 height: 71px;
 order: 1;
 margin: 0;
 padding: 0;

}

.site-navigation {
  margin: 0;
  padding: 0;
  
  list-style: none;
}


.features-list {
  display: flex;
  margin: 0 auto;
  padding: 0;
  justify-content: center; 
  width: 1200px;
  list-style: none;
  flex-wrap: wrap;
 
}


.container {
	width: 1200px;
	margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.slogan {
	margin: auto;
}


.index-columns {
	width: 1200px;
	margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.features-text {
	margin: auto;
}

.feature-item-1 {
	width: 1200px;
	margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

}

.feature-item-blue h2 {
	margin: 0;
	padding-bottom: 0;	
    
}

.feature-item-blue { 
	margin: 0;
	padding: 0;
	padding-bottom: 64px;
	padding-top: 46px;
    width: 400px;
	text-align:center;
	vertical-align: middle;
	
 }

.feature-item-blue h2 {
	margin: 0;
	padding-bottom: 0;	
    
}

.feature-item-image {
	margin: 0;
    padding: 0;
	width: 800px;
	height: 256px;
	display:block;
}

.feature-item-advantage {
  margin: 0;
  padding: 0;
  display: flex;
  flex-basis: 1200px;
  flex-wrap: wrap;
  list-style: none;

}

.feature-item-advantage-house {
  margin: 0;
  padding: 0;
  padding-top: 156px;
  padding-bottom: 83px;
  width: 400px;
  text-align: center;
  order:2;
}

.feature-item-advantage-food {
  margin: 0;
  padding: 0;
  padding-top: 156px;
  padding-bottom: 83px;
  width: 400px;
  text-align: center;
  order:3;
}

.feature-item-advantage-souvenirs {
  margin: 0;
  padding: 0;
  padding-top: 156px;
  padding-bottom: 83px;
  width: 400px;
  text-align: center;
  order:4;
}

.feature-item-2 {
	width: 1200px;
	margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;

}


.other-items {
    width: 1200px;
	margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.feature-item-gray {
	width: 400px;
	padding-top: 46px;
	padding-bottom: 60px;
	text-align: center;
}

.booking {
	width: 1200px;
	margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.booking-info-outline  {
	margin: auto;
    padding-top: 53px;
    padding-bottom: 35px;
    text-align: center;
}

.booking-info {
    margin: auto;
    padding: 0;
    text-align: center;
} 

.booking-form-outline {
   margin: auto;
   padding-bottom: 50;
   text-align: center;
   
}

.main-footer {
	width: 1200px;
	margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-hashtag {
	width: 240px;
	text-align: center;
}

.footer-social {
	width: 400px;
}

.footer-copyright {
	width: 240px;
}

/* ----- Сеточные стили hotels.html----- */

.content {
	width: 1200px;
	margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.filters {
	width: 1200px;
	margin: 0;
    padding: 0;
    display: flex;
}

.infrastructure {
	width: 242px;
	margin-left: 72px;
	padding-top: 30px;
	padding-bottom: 96px;
}

.accommodation {
	width: 288px;
	margin-left: 0px;
	padding-top: 30px;
	padding-bottom: 96px;
}

.price-filter {
	width: 400px;
	padding-top: 30px;
	margin-right: auto;
}

.sorting {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
	display: flex;
}

.finded {
	width: 116px;
	margin-left: 72px;
	padding-top: 30px;
	padding-top: 34px;
}

.sort-type {
	width: 78px;
	margin-left: 50px;
}

.catalog-list {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
	display: flex;
	list-style: none;
	flex-wrap: wrap;
}

.catalog-item {
    width: 1057px;
    margin-left: 70;
    margin-right: 73;
}